*{
    font-family:courier,arial,helvetica;
}
body {
    margin: 0;
    background-color: black;
    color: greenyellow;
  }
  
  body p {
      color: greenyellow;
  }
  .sidenavbar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: white;
    position: fixed;
    height: 100%;
    overflow: auto;
    border-style: dotted red;
  }
  
  .sidenavbar a {
    display: block;
    color: black;
    padding: 16px;
    
  }
  a:hover {
      background-color: red;
      color: white;
  }
   
  .sidenavbar a.static {
    background-color: red;
    color: black;
  }
  
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }

  h1 {
      text-align: center;
      margin: 10px;
      padding: 0;
      border-style: dotted;
      border-left-color: red;
      border-top-color: red;

  }
  #rd {
      color: red;
  }
img {
  height: 200px;
  width: 250px;
  border: solid red ;
  border-style: dotted;
  display: inline;
  
}
.box {
  padding: 0;
  margin: 10px;
  border: solid 1px;
  border-style: dotted;
  background-color: black;
}
.box p{
  float: right;
  width: 60%;
  display: inline;
}

.box:hover {
  background-color: darkgrey;
  color: red;
}